@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
body {
    background: #000;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  .frame {
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/1716861/pexels-photo-1716861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: repeat-x;
    background-position: left center;
    
    -webkit-clip-path: circle(5rem);
    clip-path: circle(5rem);
  }
  
  .title {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    color: #ffff00;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.9em;
    background: #0006;
    padding: 1em;
  }

